body{
    color: blue;
}

/* div#container{
    background-color: aquamarine;
} */

header{
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #8d8787;
}

nav ul li{
    margin-left: 10px;
    float: left;
}

nav ul li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

nav ul li img{
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    margin: 0 0 0 1199%;
}

nav ul li a:hover {
    background-color: #797171;
    color: #0011ff;
    box-shadow: 10px 10px 10px #615a5a;
    text-shadow:  black;
}

